In [12]:
from astropy.coordinates import get_icrs_coordinates

get_icrs_coordinates('KIC 9410862')

<SkyCoord (ICRS): (ra, dec) in deg
    (294.48623707, 45.96451994)>

In [24]:
from astropy.io import ascii

df3 = ascii.read('data/datafile3.txt').to_pandas() # Brewer+ 2018
df4 = ascii.read('data/datafile4.txt').to_pandas() # Brewer+ 2018
df8 = ascii.read('data/datafile8.txt').to_pandas() # Brewer+ 2016
df9 = ascii.read('data/datafile9.txt').to_pandas() # Brewer+ 2016
df11 = ascii.read('data/datafile11.txt').to_pandas() # Brewer+ 2016

In [20]:
df3.head()

,ID,Name,RAh,RAm,RAs,DE-,DEd,DEm,DEs,Teff,...,SHK,logRHK,vbroad,vsini,vmac,VRad,S/N,C-rms,L-rms,Num
0,2281.0,KOI-3248,19.0,21.0,51.6,+,48.0,19.0,56.0,5742.0,...,0.09,NaN,3.7,1.4,3.4,-7.1,50.0,0.02,0.02,1.0
1,2361.0,KOI-4273,19.0,36.0,50.4,+,46.0,28.0,48.0,6123.0,...,0.13,-5.22,7.3,4.5,5.6,-21.3,46.0,0.03,0.03,1.0
2,2393.0,KOI-3605,19.0,43.0,21.2,+,41.0,25.0,38.0,5252.0,...,0.14,-5.18,3.1,2.1,2.1,-0.1,51.0,0.02,0.03,1.0
3,2405.0,KOI-3197,19.0,45.0,9.7,+,44.0,25.0,24.0,6218.0,...,0.17,-4.87,9.3,6.1,6.4,2.2,48.0,0.02,0.03,1.0
4,2430.0,KOI-1353,19.0,49.0,51.7,+,42.0,52.0,58.0,5951.0,...,0.25,-4.60,7.3,5.5,4.4,-19.1,47.0,0.03,0.03,1.0

In [21]:
df8.head()

,ID,Name,Teff,logg,[M/H],S,logRhk,Vbroad,Vsini,Vmac,Vrad,SNR,C-rms,L-rms,N
0,2,HD 105,6033,4.53,0.04,0.38,-4.35,17.8,14.6,4.9,10.2,247,0.02,0.01,2
1,4,HD 166,5489,4.51,0.07,0.42,-4.40,5.0,4.1,2.6,-7.2,357,0.01,0.01,1
2,6,HD 377,5895,4.46,0.12,0.38,-4.37,17.5,14.6,4.1,0.9,248,0.01,0.02,1
3,10,HD 691,5489,4.48,0.18,0.56,-4.25,6.4,5.6,2.6,-3.2,258,0.01,0.02,1
4,12,HD 1388,5924,4.32,0.02,0.16,-4.97,4.9,2.3,4.2,29.2,250,0.01,0.01,2

In [22]:
df9.head()

,ID,Name,[C/H],[N/H],[O/H],[Na/H],[Mg/H],[Al/H],[Si/H],[Ca/H],[Ti/H],[V/H],[Cr/H],[Mn/H],[Fe/H],[Ni/H],[Y/H]
0,2.0,HD 105,0.07,0.10,0.12,-0.09,-0.02,-0.19,0.05,0.11,0.11,0.06,0.12,-0.04,0.10,-0.03,0.18
1,4.0,HD 166,0.01,0.01,0.08,0.01,0.00,-0.00,0.05,0.15,0.06,0.08,0.13,0.09,0.12,0.04,0.16
2,6.0,HD 377,0.12,0.24,0.23,0.06,0.04,0.04,0.13,0.25,0.17,0.16,0.20,0.13,0.19,0.07,0.20
3,10.0,HD 691,0.10,0.01,0.13,0.11,0.11,0.13,0.17,0.27,0.20,0.19,0.23,0.22,0.24,0.15,0.27
4,12.0,HD 1388,0.00,-0.02,-0.01,-0.01,0.03,0.02,0.01,0.04,0.04,0.04,0.02,-0.05,0.03,0.01,0.01

In [23]:
len(df9)

1615

In [15]:
len(df11)

1615

In [16]:
df3_2 = ascii.read('data/table_3_mrt.txt').to_pandas()

In [6]:
df3.columns

Index(['ID', 'Name', 'RAh', 'RAm', 'RAs', 'DE-', 'DEd', 'DEm', 'DEs', 'Teff',
       'log(g)', '[M/H]', 'SHK', 'logRHK', 'vbroad', 'vsini', 'vmac', 'VRad',
       'S/N', 'C-rms', 'L-rms', 'Num'],
      dtype='object')

In [7]:
df4.columns

Index(['ID', 'Name', '[C/H]', '[N/H]', '[O/H]', '[Na/H]', '[Mg/H]', '[Al/H]',
       '[Si/H]', '[Ca/H]', '[Ti/H]', '[V/H]', '[Cr/H]', '[Mn/H]', '[Fe/H]',
       '[Ni/H]', '[Y/H]'],
      dtype='object')

In [8]:
df8.columns

Index(['ID', 'Name', 'Teff', 'logg', '[M/H]', 'S', 'logRhk', 'Vbroad', 'Vsini',
       'Vmac', 'Vrad', 'SNR', 'C-rms', 'L-rms', 'N'],
      dtype='object')

In [9]:
df9.columns

Index(['ID', 'Name', '[C/H]', '[N/H]', '[O/H]', '[Na/H]', '[Mg/H]', '[Al/H]',
       '[Si/H]', '[Ca/H]', '[Ti/H]', '[V/H]', '[Cr/H]', '[Mn/H]', '[Fe/H]',
       '[Ni/H]', '[Y/H]'],
      dtype='object')

In [10]:
len(df8)

1615

In [14]:
df8.Name

0           HD 105
1           HD 166
2           HD 377
3           HD 691
4          HD 1388
5          HD 1461
6          HD 2589
7          HD 3795
8          HD 3861
9          HD 4208
10         HD 4203
11         HD 4307
12         HD 4628
13         HD 4614
14         HD 4747
15         HD 4915
16         HD 5133
17         HD 6558
18       HD 6872 B
19         HD 6963
20        HIP 5938
21         HD 8038
22        HIP 6276
23         HD 7924
24         HD 8574
25         HD 8765
26         HD 8907
27         HD 9540
28         HD 9472
29         HD 9562
           ...
1585    BD+37 4783
1586    BD+37 4784
1587     HD 218935
1588     HD 219428
1589     HD 219498
1590     HD 219623
1591     HD 219553
1592     HD 219781
1593     HD 219828
1594     HD 220122
1595     HD 220554
1596     HD 220952
1597     HD 221504
1598        WASP-4
1599     HD 221822
1600     HD 221851
1601     HD 222038
1602     HD 222089
1603    HIP 116838
1604     HD 222986
1605     HD 223627
1606     HD 240429
1607     HD 240430
1608     HD 223869
1609     HD 224032
1610    HIP 117946
1611     HD 224619
1612        WASP-8
1613     HD 224679
1614     HD 224693
Name: Name, Length: 1615, dtype: object

In [27]:
import pandas as pd

df3.rename(columns={'log(g)':'logg', 'vbroad':'Vbroad', 
                    'vmac':'Vmac', 'vsini':'Vsini'},
          inplace=True) # make sure names are consistent
df_all = pd.concat([df3.merge(df4), df8.merge(df9.merge(df11))]) # 3,4 share index; 8,9,11 share index
df_all.to_hdf('data/spec_all.h5', 'df')

/Users/tdm/miniconda3/envs/isochrones/lib/python3.6/site-packages/pandas/core/generic.py:1299: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block1_values] [items->['DE-', 'ID', 'Name']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [15]:
from configobj import ConfigObj
import os

unc = {'Teff':50, 'feh':0.03, 'logg':0.05}

def write_ini_files(rootdir):
    for _,row in df_all.iterrows():
        name = str(row.Name).replace(' ', '')
        stardir = os.path.join(rootdir, name)
        if not os.path.exists(stardir):
            os.makedirs(stardir)
        
        config = ConfigObj(os.path.join(stardir, 'star.ini'))
        config['Teff'] = (row.Teff, unc['Teff'])
        config['logg'] = (row.logg, unc['logg'])
        config['feh'] = (row['[Fe/H]'], unc['feh'])
        config.write()

In [16]:
write_ini_files('starfits')

In [1]:
from isochrones import StarModel

In [4]:
from isochrones import get_ichrone

In [10]:
mist = get_ichrone('mist')

In [11]:
mist.mineep, mist.maxeep

(0.0, 1710.0)

In [12]:
dar = get_ichrone('dartmouth')

In [13]:
dar.mineep, dar.maxeep

(2.0, 370.0)

In [4]:
import pandas as pd

df = pd.read_hdf('starfits/test_summary.h5')

In [5]:
df

,age_0_0_05,age_0_0_16,age_0_0_50,age_0_0_84,age_0_0_95,mass_0_0_05,mass_0_0_16,mass_0_0_50,mass_0_0_84,mass_0_0_95,...,distance_0_05,distance_0_16,distance_0_50,distance_0_84,distance_0_95,AV_0_05,AV_0_16,AV_0_50,AV_0_84,AV_0_95
BD+1290,9.902950,9.929229,9.977014,10.024137,10.046075,0.932303,0.945121,0.974914,1.012467,1.022314,...,3659.411454,5506.325521,8006.742343,9448.459153,9818.040470,0.047745,0.148888,0.493743,0.837459,0.950251
BD+15_4556,8.820413,8.923195,9.056457,9.091687,9.117029,2.015200,2.048540,2.142396,2.358163,2.532946,...,3913.912781,5641.146989,8089.392349,9468.069188,9831.000406,0.058429,0.162307,0.493639,0.843335,0.947049
BD+262091,9.373580,9.413496,9.493577,9.614471,9.649247,1.137892,1.154910,1.244793,1.307067,1.339978,...,4129.984070,5929.177894,8333.897890,9499.445245,9830.428595,0.059860,0.164409,0.498600,0.832805,0.946885
BD+28_4543S,8.860319,8.928324,8.996455,9.074106,9.165245,1.830725,1.984957,2.134481,2.245566,2.343302,...,4032.085352,5842.339947,8020.490255,9453.006533,9819.523702,0.051986,0.161847,0.482855,0.838149,0.952930
BD+312447,9.556709,9.581013,9.628011,9.679605,9.701068,1.103866,1.127362,1.167076,1.216034,1.234890,...,3778.650950,5675.231120,8120.882186,9466.678118,9833.863094,0.054292,0.154794,0.510435,0.833636,0.948812
BD+36350,8.838018,8.906793,9.004505,9.065836,9.089799,2.067814,2.102790,2.184703,2.367911,2.489606,...,3817.751830,5606.801594,8063.819789,9452.448616,9821.864145,0.052808,0.156208,0.493396,0.835558,0.946307
BD+37412,8.830862,8.906147,9.001778,9.068400,9.090863,2.066878,2.102511,2.216626,2.371653,2.492473,...,3809.737667,5546.798598,8082.344402,9436.159293,9820.383227,0.053238,0.159053,0.483687,0.839988,0.945740
BD+37424,8.811275,8.895036,9.010322,9.077653,9.093447,2.041193,2.098024,2.212666,2.386973,2.522987,...,3746.043813,5565.441664,7980.560960,9431.139362,9825.709096,0.048764,0.160118,0.498831,0.843256,0.945654
BD+37441,5.351567,8.828064,8.910497,9.022655,9.079346,1.990471,2.073618,2.254230,2.446115,3.530640,...,3809.659717,5603.842169,8029.831229,9460.600570,9834.561982,0.055597,0.173466,0.498471,0.837355,0.946235
BD+374783,9.217161,9.249983,9.293270,9.386106,9.434613,1.308169,1.359309,1.427061,1.497344,1.544342,...,4030.942022,5861.594358,8070.231116,9487.030411,9815.244224,0.050812,0.153240,0.504248,0.848980,0.952600